* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #eee;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    width: 600px;
    height: 350px;
    background-color: white;
    margin: 150px auto;
    position: relative;
}

.container h3:first-of-type {
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.container p:first-of-type {
    position: absolute;
    top: 4rem;
    left: 1rem;
    max-width: 42ch;
    color: gray;
}

input {
    position: absolute;
    top: 8rem;
    left: 1rem;
    width: 550px;
    height: 50px;
    color: gray;
    padding-left: 40px;
}

i {
    position: absolute;
    top: 9.2rem;
    left: 2rem;
    color: gray;
}

.container h3:nth-of-type(2) {
    position: absolute;
    top: 13rem;
    left: 1rem;
}

a {
    position: absolute;
    top: 13rem;
    right: 2rem;
    text-decoration: none;
}

img {
    position: relative;
    top: 16rem;
    left: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 6px;
}